
  <div class="header">
    <nav class="navbar navbar-light d-flex bg-light">
      <img src="../assets/imagelogo.png" alt="image" class="img">
      <h3>E-Hiring</h3>
      <a class="navbar-brand login btn btn-group" routerLink="/login">
        Login
      </a>
    </nav>
  </div>
  <div class="core container-fluid d-flex" mt-5>
    <img src="../assets/Recruitment.jpg" alt="image" class=" col-md-7 image">
    <section class=" justify-content-center p-4 col-md-5">
      <h4 >Our Service</h4>
      <p class="justify-content">This application makes recruitment process very simpler by proposing to you IT profiles that replies to your request.<br>
      Do you want to find a good talent ? we are here for you.
      If you are interesting please contact us by mail or phone</p>
    <img src="../assets/process1.jpg" alt="image" class="i">
    </section>

  </div>
  <footer class="footer text-center text-lg-start p-0">
    <p><span class="text-center h4 mt-4">Contact us by :</span> </p>
    <div class="col-md-4"><a class="btn btn-group"><mat-icon> call</mat-icon></a></div>
    <div class="col-md-4"><a class="btn btn-group"><mat-icon> email</mat-icon></a></div>
    <div class="col-md-4"><a class="btn btn-group"><mat-icon>facebook</mat-icon></a></div>
    <div class="text-center p-3 copy">
      © 2022 Copyright:E-hiring
    </div>
  </footer>

 <!-- <mat-toolbar>
  
  <h3>E-Hiring</h3>
    <span class="example-spacer"></span>
    <button type="submit" class="login d-flex" (click)="click()">
      Login 
    </button>
  </mat-toolbar>
</div>
<div class="core container-fluid d-flex" mt-5>
  <img src="../assets/man.png" alt="image" class="image">-->




