
.card{padding: 20px 30px;margin-top:10px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}
.blue-text{color: #00BCD4}
.form-control-label{margin-bottom: 0;font-size: 15px;}
input,button{padding: 4px 11px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;}
input:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}
.btn-block{color: white;background-color: #3950EA;text-transform: uppercase;font-size: 15px !important;height: 43px;cursor: pointer}
.btn-block:hover{color: #fff !important}
button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
h3{
  font-size: 25px;
}
.container-fluid{
  margin-top: -20px;
  background-color: #1560A7;
}
.footer{
  background-color: #1560A7;

}
